body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

h1 {
  font-size: 20px;
  align-self: flex-start;
}

ul {
  padding-left: 0;
}

li {
  width: 500px;
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  display: grid;
}

.checkbox {
  margin-right: 20px;
}

.textNode {
  margin-left: 20px;
}

#listBox {
  width: 500px;
  margin: auto;
  align-self: center;
}

#inputfield {
  width: 300px;
}

.submit {
  background-color: rgb(72, 162, 236);
  color: white;
}

.todoDiv {
  width: 500px;
  border: 1px solid lightgray;
  padding: 10px;
}

.imgBin {
  width: 20px;
  float: right;
}

.stripe-through {
  text-decoration: line-through;
}
